body {
    font-family: arial;
    margin: 0;
}

header {
    background-color: #5169a7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    height: 100px;
}

section {
    background-color: #d09d72;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
}

form {
    background-color: #d1bead;
    padding: 50px 10px 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

li {
    float: right;
    padding: 14px 16px;
}

h1 {
    float: left;
}

p {
    float: right;
    font-size: 2rem;
}

label.precio {
    float: right;
}

div:empty {
    background-color: purple;
    height: 2px;
}

.total {
    background-color: #d1bead;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px 150px 0;
    font-size: 2rem;
}

/*div:nth-of-type(2) {
    background-color: #d1bead;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px 150px 0;
    font-size: 2rem;
}*/

.logo {
    background-color: #5169a7;
    padding: 30px 50%;
}

/*no funciona*/
[name="comida"]:hover {
    color: orangered;
}

input {
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: purple;
    border-bottom-width: 1px;
}

h2 {
    font-size: 2rem;
}

[type="submit"] {
    background-color: #5169a7;
    color: white;
    padding: 10px;
    border: none;
}
